* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
input {
    display: none;
}
.checkbox_image {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(sad.png);
    background-size: cover;
    cursor: pointer;
}
input:checked + .checkbox_image {
    background-image: url(smiling-face.png);
}